body {
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-size: 5em;
    font-weight: 900;
    line-height: 1.2em;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #324d5b;
    margin: 0;
    float: left;
}

h2 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
    font-size: 1.8em;
    margin: 0;
}

h3 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
    font-size: 1.8em;
    margin: 0;
}

pre {
    margin: 0;
}

#event-types > article {
    float: left;
    margin: 0.4em;
    width: 5em;
    background-color: #324d5b;
    color: #fff;
    height: 5em;
    padding: 0.2em;
}

#event-types:before, #event-types:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

#event-types:after {
    clear: both;
}

h4 {
    font-family: 'Alegreya Sans SC', sans-serif;
    text-align: center;
    margin: 0;
    font-size: 1.8em;
    font-weight: 300;
}

.type {
    font-family: 'Droid Sans Mono', sans-serif;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
}


@media (min-width: 55em) {
    .using-server {
        float: left;
        width: 49%;
    }

    .using-client {
        margin-left: 2%;
        float: left;
        width: 49%;
    }
}

.using code {
    min-height: 8em;
}

.using-server {
    margin-top: 1em;
}

.using-client {
    margin-top: 1em;
}

.using:before, .using:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.using:after {
    clear: both;
}

header img {
    margin-top: 0.8em;
    float: left;
    width: 4em;
    height: 4em;
}

.branding:before, .branding:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.branding:after {
    clear: both;
}

.events {
    font-family: 'Droid Sans Mono', serif;
}
