/*===TITLES AND FONTS===*/
body {
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-size: 5em;
    font-weight: 900;
    line-height: 1.2em;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #324d5b;
    margin: 0;
}

h2 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
    font-size: 1.8em;
    margin: 0;
}

h3 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
    font-size: 1.8em;
    margin: 0;
}

h4 {
    font-family: 'Alegreya Sans SC', sans-serif;
    text-align: center;
    margin: 0;
    font-size: 1.8em;
    font-weight: 300;
}

pre {
    margin: 0;
}

section {
    padding: 0.5em;
}

/*===BUTTONS===*/
.button {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.2em;
    padding: 0.5em;
    text-decoration: none;
    background-color: #A6BFCE;
    color: rgba(0, 0, 0, 0.87);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
}

.button:hover {
    background-color: #4D7995;
}

/*===GITHUB BADGE===*/
.github {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

/*===EVENT TYPES===*/
#event-types > article {
    float: left;
    margin: 0.4em;
    width: 5em;
    background-color: #A6BFCE;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    color: #fff;
    height: 5em;
    padding: 0.2em;
}

#event-types:before, #event-types:after {
    content: " ";
    display: table;
}

#event-types:after {
    clear: both;
}

.type {
    font-family: monospace; 
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}

/*===CHART===*/
.chart {
    margin-top: 1em;
}

/*===TUTORIAL===*/
.tutorial code {
    min-height: 8em;
}

.tutorial-server, .tutorial-client {
    margin-top: 1em;
}

.tutorial:before, .tutorial:after {
    content: " ";
    display: table;
}

.tutorial:after {
    clear: both;
}

@media (min-width: 55em) {
    .tutorial-server {
        float: left;
        width: 49%;
    }

    .tutorial-client {
        margin-left: 2%;
        float: left;
        width: 49%;
    }
}
